{% extends "base.html" %}
{% block section %} 

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h3 style="color: steelblue;">Lista de movimientos</h3>
        <table role="grid">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Concepto</th>
                    <th>Monto</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr>
                    <td>{{item.date}}</td>
                    <td>{{item.concept}}</td>
                    <td>{{item.quantity}}</td>
                    <td>
                        <a href="/update/{{item.id}}">
                        <span class="material-symbols-outlined">
                            edit
                            </span>
                        </a>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/delete/{{item.id}}">
                        <span class="material-symbols-outlined">
                            delete
                            </span>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endblock %}