{% extends "base.html" %}
{% block section %}
<form action="/new" method="POST">  <!-- Configuramos que el metodo que envia sea POST -->
    <label>Fecha</label>
    <input type="date" name="date" value="{{dataForm.date}}">
    <label>Concepto</label>
    <input type="text" name="concept" placeholder="Ingrese concepto" value="{{dataForm.concept}}">
    <label>Monto</label>
    <input type="number" name="quantity" placeholder="Ingrese monto" step="0.01" value="{{dataForm.quantity}}">

    <!-- Button -->
    <button type="submit">Guardar</button>
</form>
<article>
    <ul>
        <!-- mostrar lista de los errores que haya en el formulario -->
        {% for item in msgError %}
        <li style="color: rgb(189, 49, 49);">{{item}}</li>
        {% endfor %}
    </ul>
</article>
{% endblock %}